<nav class="navbar navbar-expand-lg bg-grad1">
  <div class="logo">
    <a   href="#"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/IIM_Bangalore_Logo.svg/800px-IIM_Bangalore_Logo.svg.png" class="image" alt=""></a>


  </div>

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="" href="#">Home</a>
        <a class="nav-link" routerLink="/aboutUs" href="#">About Us</a>


        <a class="nav-link" routerLink="/register" href="#">Register</a>
        <a class="nav-link" routerLink="/studentsList" href="#">Students List</a>



      </div>
    </div>
  </div>
</nav>