<div class="card">
    <div class="card-header">
      About IIMB
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>The Indian Institute of Management Bangalore (IIMB) is a leading graduate school of management in Asia. Under the IIM Act of 2017, IIMB is an Institute of National Importance.
           IIMB has 106 full time faculty members, about 1200 students across various degree-granting programmes and nearly 5000 annual Executive Education participants.
            Our logo carries a proclamation in Sanskrit, तेजस्वि नावधीतमस्तु (tejasvi navadhitamastu), which translates as ‘let our study be enlightening’. Our vision is to be a global, renowned academic institution fostering excellence in management, innovation and entrepreneurship for business, government and society.
            Located in India’s high technology capital, we are in close proximity to some of the leading corporate houses in the country, ranging from information technology to consumer product companies, giving us the added advantage of integrating classroom knowledge with practical experience.
            Our degree granting programmes comprise the Doctor of Philosophy (Ph.D.), the Master of Management Studies (Public Policy), the Master of Business Administration – one-year fulltime, the Master of Business Administration (MBA), Two-year programme for Working Professionals, the Master of Business Administration – two years fulltime, and the Master of Business Administration (Business Analytics) – two years fulltime. 
            We offer the NS Ramaswamy Pre-doctoral (NSR Pre-doc) Fellowship, as a Certificate programme, with the aim to increase social diversity of management academia in India.</p>
        <footer class="blockquote-footer"> <cite title="Contact Us">Indian Institute of Management Bangalore
            Bannerghatta Road, Bengaluru, India
            Pin Code : 560076
            Phone No: +91-80- 26993000 / 26582450</cite></footer>
      </blockquote>
    </div>
  </div>
